<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.influence.cm.mapper.SysVoteMapper">

    <!-- Result map for SysVote -->
    <resultMap id="SysVoteResult" type="com.influence.cm.domain.SysVote">
        <id property="voteId" column="vote_id"/>
        <result property="movieId" column="movie_id"/>
        <result property="userId" column="user_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="voteTime" column="vote_time"/>
    </resultMap>

    <!-- Find votes by movie ID -->
    <select id="findVotesByMovieId" parameterType="Long" resultMap="SysVoteResult">
        SELECT * FROM sys_vote WHERE movie_id = #{id}
    </select>

    <!-- Find votes by user ID -->
    <select id="findVotesByUserId" parameterType="Long" resultMap="SysVoteResult">
        SELECT * FROM sys_vote WHERE user_id = #{id}
    </select>

    <!-- Insert a new vote -->
    <insert id="addVote" parameterType="com.influence.cm.domain.SysVote">
        INSERT INTO sys_vote (movie_id, user_id, start_time, end_time, vote_time)
        VALUES (#{movieId}, #{userId}, #{startTime}, #{endTime}, #{voteTime})
    </insert>


</mapper>
